body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
     "wdth" 100;
}
.maincont{
    width: 50vmax;
    max-width: 750px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
}
#gallery{
  position: relative; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: fit-content;
}
img{
    margin: 8px;
    width: 35vmin;
    max-width: 350px;
}
.cntrl{
    width: 750px;
}
#GrayToggle{
    float: left;
}
#fetches{
    float: right;
}